{{define "leaderboard"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendu | Classement</title>
    <link rel="stylesheet" type="text/css" href="/htmlStuff/style.css">
</head>
<body>
    <h1 style="text-align: center;">Tableau des Scores</h1>
    <table style="margin: 0 auto;">
        <thead>
            <tr>
                <th>Pseudonyme</th>
                <th>Score</th>
                <th>Mots trouvés</th>
            </tr>
        </thead>
        <tbody>
            {{range .Users}}
            <tr>
                <td>{{.Username}}</td>
                <td>{{.Score}}</td>
                <td>{{.WordStreak}}</td>
            </tr>
            {{end}}
        </tbody>
    </table><br />
    
    <form action="/mainMenu" method="post" style="text-align: center;">
        <button type="Menu">Retourner au menu principal</button><br />
    </form>
    
</body>
</html>
{{end}}