{{define "resultat"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendu | Résultat</title>
    <link rel="stylesheet" type="text/css" href="/htmlStuff/style.css">
</head>

<body>
    <div class="parallax">
        <div class="layerB1" id="layer1"></div>
        <div class="layerB2" id="layer2"></div>
        <div class="layerB3" id="layer3"></div>
    </div>
    <div class="content-res">
        <h1>{{.RandomMsg}}</h1>
        {{if lt .PlayerLives 1}}
            <h2>Le mot était : {{.Letters}}</h2>
            <p>Nombre de mots trouvés au total: {{.WordStreak}}</p>
            <h2>Score final: {{.PlayerScore}}</h2>
            <p>Ce score est enregistré dans le tableau des Scores</p>
            <form action="/mainMenu/userForm" method="post">
                <div class="btn-replay">
                    <button type="Rejouer">Rejouer</button><br />
                </div>
            </form>
            <form action="/leaderboard" method="post">
                <div class="btn-score">
                    <button type="Scores">Tableau des Scores</button><br />
                </div>
            </form>
            <form action="/mainMenu" method="post">
                <div class="btn-menu">
                    <button type="Menu">Retourner au menu</button><br />
                </div>
            </form>
        {{else}}
            <h2>Vies restantes: {{.PlayerLives}}</h2>
            <h2>Le mot était : {{.Letters}}</h2>
            <p>Nombre de mots trouvés au total: {{.WordStreak}}</p>
            <h2>Score actuel: {{.PlayerScore}}</h2>
            <form action="/game/initialisation" method="post">
                <div class="btn-replay-win">
                    <button type="Rejouer">Prochain mot</button><br />
                </div>
            </form>
            <form action="/mainMenu" method="post">
                <div class="btn-menu-win">
                    <button type="Menu">Abandonner</button><br />
                </div>
            </form>
        {{end}}
    </div>

    <script src="/htmlStuff/script.js"></script>
</body>

</html>
{{end}}